@ControlHeight: 50px;
@StageWidth: 500px;

body {
	padding: 0;
	margin: 0;
}
.ide {
}

#controls {
	height: @ControlHeight - 1;
	background: linear-gradient(to bottom, #777 0%, #333 100%);
	border-bottom: 1px solid #222;
	a {
		color: white;
		font-family: "lucida grande";
		text-decoration: none;
		display: inline-block;
		padding: 6px 0;
		width: 100px;
		text-align: center;
		border-radius: 3px;
		margin: 8px 0 0 10px;

		background: linear-gradient(to bottom, #CCC 0%, #555 100%);
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

		&:hover {
			background: linear-gradient(to bottom, #DDD 0%, #555 100%);
		}

		&:active {
			background: lightseagreen;	
		}
	}

	.errors {
		color: white;
		font-family: menlo;
		font-size: small;
		margin-left: 10px;
	}
}

#editor {
	font-size: 12pt;
	font-family: menlo;
	position: absolute;
	top: @ControlHeight;
	right: @StageWidth;
	bottom: 0;
	left: 0;
}

#right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: @StageWidth;
	box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.6);
	background: #B8B6A8;

	#phone {
		margin: 0 auto 0;
		height: 808px;
		width: 391px;
		background: url("iphone.png");
		background-size: contain;

		#canvas {
			background: white;
			position: relative;
			top: 121px;
			left: 36px;
		}
	}

}